body {
  color: white;
  background-color: black;
  outline-style: none;
}
button {
  color: white;
  background-color: rgb(83, 83, 83);
  outline-style: none;
}
textarea {
  background-color: rgb(99, 99, 99);
  color: white;
  outline-style: none;
}
iframe {
  border-color: green;
  border-width: 5px;
  background-color: white;
}

::placeholder {
  zoom: 10;
  color: rgb(138, 138, 138);
}
